body{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    background: linear-gradient(to right, blue, lightgreen);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.big {
    
}